<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{REQUEST_URI} ^system.*$ [OR]
    RewriteCond %{REQUEST_URI} ^application.*$ [OR]
    RewriteCond %{REQUEST_URI} ^assets.*$ [NC]
    RewriteRule ^(.*)$ index.php/$1 [L]
</IfModule>
